<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="org.zgf.learn.mybatis.entity.PassengerCardMapper"> 

	<!-- 查： 从数据库中查询单个对象-->
	<select id="getPassengerCardById" parameterType="int" resultType="PassengerCard" >
		select * from mybatis_one2one_psgcard where id = #{id}
	</select>
	
</mapper>